<a href="https://colab.research.google.com/github/missjaanii/Boston-Housing-Dataset-linear-regression-model/blob/master/Multivariate_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from mpl_toolkits.mplot3d import axes3d

%matplotlib inline  

import seaborn as sns
sns.set_context('paper')
sns.set_style('white')

In [2]:
from google.colab import files
uploaded = files.upload()

Saving ex1data2.txt to ex1data2 (1).txt

In [3]:
df=pd.read_csv("ex1data2.txt", header=None, sep=',')

In [4]:
X = df.iloc[:, :2] # read first two columns into X
y = df.iloc[:, 2] # read the third column into y
m = len(y) 
df.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [5]:
#feature normalization
#subtract the mean value of each feature from the dataset and then scale the feature values by their respective standard deviations
X = (X - np.mean(X))/np.std(X)

In [6]:
#adding the intercept and initializing the parameters
ones = np.ones((m,1))
X = np.hstack((ones, X))
alpha = 0.01
num_iters = 400
theta = np.zeros((3,1))
y = y[:,np.newaxis]

In [7]:
#cost computing for multiple variables
def computeCostMulti(X, y, theta):
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)
J = computeCostMulti(X, y, theta)
print(J)

65591548106.45744

In [8]:
#gradient descent for multiple parameters
def gradientDescentMulti(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/m) * temp
    return theta
theta = gradientDescentMulti(X, y, theta, alpha, num_iters)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [9]:
#now use the optimized value of theta in the above cost function to minimize it
J = computeCostMulti(X, y, theta)
print(J)

2105448288.6292474

In [10]:
#This gave a value of 2105448288.6292474 which is much better than 65591548106.45744

In [11]:
#Hence we have successfully minimized the cost function for multiple variables.